.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}
.bg-primary {
    background-color: #2196F3 !important;
}
.badge-secondary {
    background-color: #4834d4 !important;
    border-color: #4834d4 !important;
}
