---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---
<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   As a seasoned Engineer, Threat Hunter and Intelligence Analyst, I bring a wealth of cybersecurity experiences and a dynamic skill set to my problem-solving toolkit. With a wide exposure to various cyber threats and attacks, my analytical prowess enables me to proactively detect and mitigate potential risks. Leveraging my expertise in penetration testing, incident response, and malware analysis, I provide invaluable insights that bolster organizations' defense mechanisms. My adaptability, collaboration skills, and unwavering curiosity empower me to stay ahead of evolving threats, ensuring a safer digital landscape for all.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiences</div>
  </div>
  
  <div class="mb-10">
    <div class="text-xl w-full font-bold">Provisions Group</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Senior Security Engineer"
      subtitle="From Nov 2022 - Jun 2023 at Quorum Health Corporation, Brentwood TN"
    />
  </div>

  <div class="mb-10">
    <div class="text-xl w-full font-bold">Threds, Inc</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Director of Information Security"
      subtitle="From Jun 2018 - Oct 2022"
    />
    <TimeLineElement
      title="Data Protection Officer"
      subtitle="From Jun 2017 - Oct 2022"
    />
    <TimeLineElement
      title="Cloud Engineer, Cybersecurity Analyst, Threat Hunter"
      subtitle="From Jun 2013 - Oct 2023"
    />
  </div>

<div class="mb-10">
    <div class="text-2xl w-full font-bold">McGhee Tyson Airport</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ramp Operations Supervisor"
      subtitle="From Jun 2006 - Oct 2008"
    />
  </div>

<div class="mb-10">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Homeland Security and Cybersecurity"
      subtitle="2022 to 2023 at University of Colorado, Colorado Springs, CO"
    />
    <TimeLineElement
      title="Computer Systems and Systems Management"
      subtitle="2022 to 2023 at University of Colorado, Colorado Springs, CO"
    />
    <TimeLineElement
      title="Cyber Defense"
      subtitle="2020 to 2022 at Pellissippi State, Knoxville, TN "
    />
    <TimeLineElement
          title="Media Technology"
          subtitle="2008 to 2013 at Pellissippi State, Knoxville, TN "
        />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <style>
    #certs a {
      color: #2196F3;
    }
  </style>
  <ul id="certs" class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://coursera.org/share/9fbb165af072d9403413d88feb1047e4" target="_blank"> Google Cybersecurity Professional</a> (<a href="https://www.credly.com/badges/a03894fe-5cd2-4332-a4e1-16826132ef01/public_url">Digital Badge</a>)
    </li>
    <li>
      <a href="https://coursera.org/share/c3a388a6c2362562fe1e2858193f0147" target="_blank"> Google Cloud Digital Leader</a>
    </li>
    <li>
      <a href="https://coursera.org/share/8be8c8df048bc8928b9e974a6ad988e7" target="_blank"> Google Professional Administrator</a>
    </li>
    <li>
      <a href="https://coursera.org/share/711ba73661f6d664fb9063db044a71e8" target="_blank"> IBM Data Science Professional</a> (<a href="https://www.credly.com/badges/03b35942-3c75-4d5d-812a-7785e7f02a29/public_url">Digital Badge</a>)
    </li>
    <li>
      <a href="https://coursera.org/share/c71fbcf7fce4531608b8bfb626e7f64f" target="_blank"> IBM Cybersecurity Professional</a> (<a href="https://www.credly.com/badges/ef905e1f-1ceb-4b8d-8970-017d96b56533/public_url">Digital Badge</a>)
    </li>
    <li>
      <a href="https://coursera.org/share/b755ac2fc895baf2e2d554019d7b3a14" target="_blank"> (ISC)² Cybersecurity Certified</a>
    </li>
    <li>
      <a href="https://coursera.org/share/724acb646a8508be97d24883a728481e" target="_blank"> (ISC)² SSCP</a>
    </li>
    <li>
      <a href="https://coursera.org/share/14f2b08f47ffa9f447a4c61e4ec0f2a2" target="_blank"> Palto Alto Networks Cybersecurity Professional</a>
    </li>
    <li>
      <a href="https://coursera.org/share/9a50850678b87c73caacd5cbf21db859" target="_blank"> EC-Council Ethical Hacking Essentials</a>
    </li>
    <li>
      <a href="https://coursera.org/share/de7f0cee52e779161bdd211b2d649198" target="_blank"> Splunk Search Expert</a>
    </li>
    <li>
      <a href="https://coursera.org/share/5dadedf90722b5771d8601c03ac53ccc" target="_blank"> INFOSEC Python for Cybersecurity</a>
    </li>
  </ul>
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Toolkit</div>
  </div>
  <style>
      #skills li {
          list-style:none;
          padding: 5px 10px;
          margin: 5px;
          color: #2196F3;
          text-align:center;
          font-weight: bold;
      }
  </style>
  <ul id="skills" class="list-disc md:columns-4 columns-2 mx-6" style="line-height:2; font-size:13px;">
    <li>VAPT (Vulnerability Assessment and Penetration Testing</li>
    <li>Microsoft Defender</li>
    <li>Microsoft Sentinel</li>
    <li>Information Security Consulting</li>
    <li>Project Management</li>
    <li>IBM QRadar</li>
    <li>IBM Cognos Analytics</li>
    <li>Artificial Intelligence</li>
    <li>SQL</li>
    <li>Jupyter</li>
    <li>Data Mining</li>
    <li>Data Science</li>
    <li>Python</li>
    <li>KQL</li>
    <li>DevOps</li>
    <li>SecOps</li>
    <li>Cloud Security</li>
    <li>GCP</li>
    <li>Azure</li>
    <li>Digital Forensics</li>
    <li>Incident Reponse</li>
    <li>Russian Language</li>
    <li>Russian Politics</li>
    <li>Russian History</li>
    <li>Malware</li>
    <li>Reverse Engineering</li>
    <li>Homeland Security</li>
    <li>Cyber Defense</li>
    <li>Microsoft Office & Microsoft 365</li>
    <li>Security Engineering</li>
    <li>Splunk</li>
    <li>Cyber Threat Hunting</li>
    <li>Systems Administration</li>
    <li>SIEM</li>
    <li>Cross-functional Team Leadership</li>
    <li>Management</li>
    <li>Threat Intelligence</li>
    <li>OSINT</li>
    <li>Ethical Hacking</li>
    <li>Blockchain Security</li>
    <li>Data Protection</li>
    <li>Frameworks Compliance</li>
    <li>Technical Documentation</li>
    <li>Policy Writing and Development</li>
    <li>Business Process Automation</li>
    <li>Privacy Frameworks</li>
    <li>HTML & CSS</li>
    <li>UX/UI Design</li>
    <li>Business Process Optimization</li>
    <li>Power Automate</li>
    <li>Sharepoint</li>
    <li>Power BI</li>
    <li>Snowflake & Tableau</li>
    <li>Purview</li>
    <li>Aircrack-ng</li>
    <li>Wireshark</li>
    <li>GoPhish & SocialFish</li>
    <li>CyberWeapons</li>
  </ul>
</BaseLayout>
