---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   As a seasoned Threat Hunter and Intelligence Analyst, I bring a wealth of cybersecurity experiences and a dynamic skill set to my problem-solving toolkit. With a wide exposure to various cyber threats and attacks, my analytical prowess enables me to proactively detect and mitigate potential risks. Leveraging my expertise in penetration testing, incident response, and malware analysis, I provide invaluable insights that bolster organizations' defense mechanisms. My adaptability, collaboration skills, and unwavering curiosity empower me to stay ahead of evolving threats, ensuring a safer digital landscape for all.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiences</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Security Engineer"
      subtitle="From 11-2022 to 06-2023 at Provisions Group, Franklin, TN"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement><br>
    <TimeLineElement
      title="Director of Information Security"
      subtitle="From 06-2013 to 10-2022 at Threds, Inc, Knoxville, TN"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement><br>
    <TimeLineElement
      title="Data Protection Officer"
      subtitle="From 06-2018 to 10-2022 at Threds, Inc, Knoxville, TN"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement><br>
    <TimeLineElement
      title="Threat Hunter and Cybersecurity Analyst"
      subtitle="From 06-2013 to 10-2022 at Threds, Inc, Knoxville, TN"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement><br>
    <TimeLineElement
      title="Cloud Engineer"
      subtitle="From 06-2013 to 10-2022 at Threds, Inc, Knoxville, TN"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Homeland Security and Cybersecurity"
      subtitle="2022 to 2023 at University of Colorado, Colorado Springs, CO"
    />
    <TimeLineElement
      title="Computer Systems and Systems Management"
      subtitle="2022 to 2023 at University of Colorado, Colorado Springs, CO"
    />
    <TimeLineElement
      title="Cyber Defense"
      subtitle="2020 to 2022 at Pellissippi State, Knoxville, TN"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Google Cybersecurity Professional (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Google Cloud Digital Leader (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Google Project Management (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> IBM Data Analyst Professional (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> IBM Cybersecurity Professional (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> (ISC)^2 Cybersecurity Certified (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> (ISC)^2 SSCP (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>VAPT (Vulnerability Assessment and Penetration Testing</li>
    <li>Microsoft Defender</li>
    <li>Microsoft Sentinel</li>
    <li>Information Security Consulting</li>
    <li>Project Management</li>
    <li>IBM QRadar</li>
    <li>IBM Cognos Analytics</li>
    <li>AI (Artificial Intelligence)</li>
    <li>SQL (Strutured Query Language)</li>
    <li>Jupyter</li>
    <li>Data Mining</li>
    <li>Data Science</li>
    <li>Python (Programming Language)</li>
    <li>KQL (Kusto Query Language)</li>
    <li>DevOps</li>
    <li>SecOps</li>
    <li>Cloud Security</li>
    <li>GCP(Google Cloud)</li>
    <li>Azure (Microsoft Cloud)</li>
    <li>Digital Forensics</li>
    <li>Incident Reponse</li>
    <li>Russian Language I</li>
    <li>Russian Politics</li>
    <li>Russian History</li>
    <li>Malware</li>
    <li>Reverse Engineering</li>
    <li>Homeland Security</li>
    <li>Cyber Defense</li>
    <li>Microsoft Office & Microsoft 365</li>
    <li>Security Engineering</li>
    <li>Splunk</li>
    <li>CTH (Cyber Threat Hunting)</li>
    <li>Systems Administration</li>
    <li>SIEM (Security Information and Event Management)</li>
    <li>Cross-functional Team Leadership</li>
    <li>Management</li>
    <li>CTI (Cyber Threat Intelligence)</li>
    <li>OSINT</li>
    <li>Ethical Hacking</li>
    <li>Blockchain Security</li>
    <li>Data Protection</li>
    <li>Frameworks Compliance (PCI, NIST, HIPAA)</li>
    <li>Technical Documentation</li>
    <li>Policy Writing and Development</li>
    <li>Business Process Automation</li>
    <li>Privacy Frameworks (CPAA, GDPR)</li>
    <li>HTML & CSS</li>
    <li>UX/UI Design</li>
    <li>Business Process Optimization</li>
    <li>Automation (Power Automate)</li>
    <li>Sharepoint</li>
    <li>Power BI</li>
    <li>Snowflake & Tableau</li>
  </ul>
</BaseLayout>
