---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div class="text-l w-full mb-5">
    <div class="text-3xl w-full font-bold mb-5">Certification and Skill Highlights</div>  
    <p>These are a few highlights of my skills. You can view all my certifications and skills on &nbsp; <a class="btn" href="https://linkedin.com/in/chad-hatala" target="_blank">LinkedIn</a>&nbsp; and &nbsp;<a target="_blank" class="btn" href="https://www.credly.com/users/chad-hatala">Credly by Pearson</a></p>
    <br>
  </div>
  <div class="divider my-0"></div><br><br>
  </div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Professional Certifications</div>  
</div>

  <HorizontalCard
    title="Google Cybersecurity Professional"
    img="/google.png"
    desc="Click to Verify"
    badge="Professional Certification"
    url="https://coursera.org/verify/professional-cert/RKJ7L58SMVZR"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="IBM Cybersecurity Professional"
    img="/ibm.png"
    desc="Click to Verify"
    url="https://www.credly.com/badges/ef905e1f-1ceb-4b8d-8970-017d96b56533/linked_in_profile"
    badge="Professional Certification"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="IBM Data Science Professional"
    img="/ibm.png"
    desc="Click to Verify"
    url="https://www.credly.com/badges/03b35942-3c75-4d5d-812a-7785e7f02a29/public_url"
    badge="Professional Certification"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Palo Alto Cybersecurity Professional"
    img="/palo.png"
    desc="Click to Verify"
    url="https://coursera.org/verify/professional-cert/5TE679N3GSWZ"
  />
  <div class="divider my-0"></div><br>
  <br><br>
  <div>
      <div class="text-3xl w-full font-bold mb-5">Skill Badges</div><br>
      <div class="container">
    <div class="photos">
      <img src="/google-cybersecurity-certificate(1).png">
      <img src="/ibm-cybersecurity-analyst-professional-certificate(1).png">
      <img src="/data-science-professional-certificate-v2(1).png">
      <img src="/tools-for-data-science-v2.png">
      <img src="/python-project-for-data-science.png">
      <img src="/data-analysis-with-python.png">
      <img src="/applied-data-science-capstone.png">
      <img src="/Python_for_Data_Sci_and_AI_Foundational.png">
      <img src="/penetration-testing-incident-response-and-forensics.png">
      <img src="/network-security-database-vulnerabilities.png">
      <img src="/malware-analysis-and-introduction-to-assembly-language.png">
      <img src="/machine-learning-with-python.png">
      <img src="/excel-essentials-for-data-analytics.png">
      <img src="/data-visualization-dashboard-essentials.png">
      <img src="/data-science-orientation.png">
      <img src="/data-science-methodology.png">
      <img src="/data-analytics-essentials.png">
      <img src="/data-analysis-with-python.png">
      <img src="/cybersecurity-compliance-framework-system-administration.png">
      <img src="/cybersecurity-breach-case-studies.png">
    </div>
  </div>
<br>
<br>
</BaseLayout>
