---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Chad Hatala
  </div>
  <div class="inline opacity-75" style="margin:0 auto; display:inline-block;">
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="#"><img src="https://www.hackthebox.com/badge/image/1108533"></a>&nbsp;<a href="#"><img src="https://tryhackme-badges.s3.amazonaws.com/Hom.Tanks.png" alt="TryHackMe"></a>
  </div>
</footer>
<style>

</style>
