---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Chad Hatala
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Looking to hire?</a> contact
    <a href="https://chadhatala.com" target="_blank" class="font-bold">Chad Hatala ⚡️</a>
  </div>
</footer>
<style>

</style>
